#all {
  font-family: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}

.heading {
  font-size: 16px;
  letter-spacing: 0.7px;
}
.front-image{
  padding-top: 50px;
  display: flex;
  width: 70%;
  margin: auto;
  gap: 25px;
}

