.bar-top {
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 236, 236);
    padding: 20px 0px 15px 35px;
}

.bar-top div {
    display: flex;
}

.bar-top p {
    margin-top: 2px;
}

.main-top {
    display: flex;
    background-color: rgb(243, 224, 224);
    justify-content: space-evenly;
    border: 1ps solid grey;
    width: 80%;
    margin: auto;
}

.main-top h1 {
    font-size: 25px;
    font-weight: 500;
}


.main-top p {
    font-size: 18px;
    font-weight: 300;
}

.main-wishlist {
    width: 50%;
    margin: auto;
}

.remove-btn {
    background-color: rgb(240, 236, 236);
    padding: 15px 20px;
}


.inner-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(207, 200, 200);
   align-items: flex-start;
}

.div2 button{
   
    border: none;
    background-color: white;
    text-decoration: underline;
    color: #FAA619;
    padding-left: 3em;

}
.div3 button{
    border: none;
    background-color: white;
    text-decoration: underline;
    color: #FAA619;
    align-content: center;
}
.div2{
    padding-top: 2em;
}
.div3{
    padding-top: 2em;
}

.bottom-main {
    margin: 100px auto;
    width: 40%;
}

.bottom-main p {
    text-align: center;
    font-size: 18px;
}

.bottom {
    display: flex;
    justify-content: space-evenly;

}



@media screen and (min-width:650px) and (max-width:1024px) {
    .inner-list img {
        width: 70px;
    }

    .main-wishlist {
        width: 60%;
    }

    .main-top {
        width: 100%;
    }

    .bottom-main {
        margin: 50px auto;
        width: 60%;
    }
}


@media screen and (min-width:320px) and (max-width:650px) {
    .inner-list img {
        width: 80px;
    }

    .main-wishlist {
        width: 90%;
    }

    .main-top {
        width: 100%;
    }

    .bottom-main {
        margin: 50px auto;
        width: 90%;
    }
    .bottom-main img{
        padding-top: 15px;
        padding-left: 2em;
    }

    .bottom {
        display: block;
    }
  
} 