
.corner{
    /* border:1px solid red; */
    width: 80%;
    margin: auto;
    
}
.slider{
    width: 80%;
    margin: auto;
    margin-top: 70px;
}
.borderdivdeals{
    height: 4px;
    width: 4%;
    background-color: #faa619;
    
}
.corner h3{
    /* text-align: center; */
    font-size: 25px;
    padding-top: 10px;
    font-weight: 600;
}
.cornerchild{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* border: 1px solid grey; */
    gap: 20px;
    padding-top: 40px;
}
.cornercard,.cornerc{
    border: 1px solid teal;
    padding: 10px;
    background-color: rgb(38, 36, 36);
    color: white;
    border-radius: 8px;
    text-align: center;
}
.cornercard>div{
    height: 100%;
    width: 100%;
    border: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cornerc>div{
    border: 3px solid red;
    padding: 13px 0px;
}
.cornercard>div h3,.cornerc h3{
    font-size: 30px;
    font-weight: 700;
   
    /* border: 1px solid white; */
    /* margin: auto; */
}
.cornercard>div h4,.cornerc h4{
    font-size: 25px;
}

.dealsimg>img,.shopnow>img,.firsttime>img
,.flashsale>img{
    margin: auto;
    padding-top: 40px;
}
.flashsale{
    margin-top: 30px;
}
.bestseller>h3,.activewear>h3,.trendybottom>h3,.shopbycategory>h3,.flashsale>h3,.winterwear>h3,.ethnicwear>h3,.toppics>h3{
    text-align: left;
    font-size: 25px;
    padding-top: 20px;
    font-weight: 600;
    margin-left: 10%;
}
.borderdiv{
    height: 4px;
    width: 4%;
    background-color: #faa619;
    margin-left:10%;
}
.borderdiv+div{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
    text-align: center;
    padding-top: 40px;
    
}
.winterwear>div>div div{
    height: 150px;
    width: 150px;
    margin: auto;


}
.winterwear>div+div>div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px 5px;
    border-radius: 4px;
}
.winterwear img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.winterwear p{
    margin-top: 10px;
}
.borderdiv+div,.borderdiv+div{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
    padding-top: 40px;
}
.ethnicwear>div>div{
     height: 160px;
    /*width: 180px; */
    border: 2px solid rgb(194, 194, 51);
    background-size: 100%;
    display: flex;
    align-items: flex-end;
    border-radius: 15px;
}
.textdiv{
    background-color: black;
    opacity: 0.8;
    width: 80%;
    margin-left:10% ;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid rgb(194, 194, 51);
}
.textdiv>p:nth-child(1){
    color: white;
    font-size: 14px;
    /* opacity: 1.0; */
}

.textdiv>p:nth-child(2){
    color: rgb(194, 194, 51);
}
.toppics>div+div{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 40px;
}
.activewear>div+div{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 40px;
}
.onlyimg{
    margin-top: 30px;
}
.onlyimg>img{
    margin: auto;
}

.trendybottom>div>div,.shopbycategory>div>div>div{
    height: 160px;
   background-size: 100%;
   display: flex;
   align-items: flex-end;
   border-radius: 15px;
   
}
.trendybottom>div>div:hover{
    opacity: 0.5;
}
.trendybottom p{
    color: rgb(194, 194, 51);
    margin: auto;
}
.shopbycategory>div+div{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2.5%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}
.shopbycategory>div>div>div{
    height: 160px;
    background-size: 100%;
    object-fit: fill;
}

.bestseller>div+div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
    margin: auto;
    /* margin-top: 20px; */
}
.mensbottom{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.mensbottom>img{
    width: 40px;
    height: 40px;
}
/* --------------------------medium screen-------------------- */
@media (max-width: 1100px) {
    .cornerchild{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
    }
    .winterwear>div+div,.ethnicwear>div+div,.trendybottom>div+div,
    .shopbycategory>div+div{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .toppics>div+div,.activewear>div+div{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .bestseller>h3,.activewear>h3,.trendybottom>h3,.shopbycategory>h3,.flashsale>h3,.winterwear>h3,.ethnicwear>h3,.toppics>h3{
        text-align: left;
        font-size: 25px;
        padding-top: 20px;
        font-weight: 600;
        margin-left: 5%;
    }
    .borderdivdeals{
        width: 7%;
    }
    .borderdiv{
        width: 7%;
        margin-left: 5%;
    }
    .onlyimg>img,.flashsale img,.shopnow img,.firsttime img,.dealsimg img{
        width: 90%;
        margin: auto;
    }
}

/* -------------------------small screen ---------------- */
@media (max-width: 550px) {
    .cornerchild{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .winterwear>div+div,.ethnicwear>div+div,.trendybottom>div+div,
    .shopbycategory>div+div{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .toppics>div+div,.activewear>div+div{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .borderdivdeals{
        width: 10%;
    }
    .borderdiv{
        width: 10%;
        margin-left: 5%;
    }
    .bestseller>h3,.activewear>h3,.trendybottom>h3,.shopbycategory>h3,.flashsale>h3,.winterwear>h3,.ethnicwear>h3,.toppics>h3{
        text-align: left;
        font-size: 20px;
        margin-left: 5%;
    }
    .onlyimg>img,.flashsale img,.shopnow img,.firsttime img,.dealsimg img{
        width: 90%;
        margin: auto;
    }
    .bestseller>div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 90%;
}
}