
.corner{
    /* border:1px solid red; */
    width: 80%;
    margin: auto;
    
}
.corner>h3{
    /* text-align: center; */
    font-size: 25px;
    padding-top: 10px;
    font-weight: 600;
}
.cornerchild{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* border: 1px solid grey; */
    gap: 20px;
    padding-top: 40px;
}
.cornercard,.cornerc{
    border: 1px solid teal;
    padding: 10px;
    background-color: rgb(38, 36, 36);
    color: white;
    border-radius: 8px;
    text-align: center;
}
.cornercard>div{
    /* height: 180px; */
    border: 3px solid red;
    padding: 55px 0px;
}
.cornerc>div{
    border: 3px solid red;
    padding: 13px 0px;
}
.cornercard>div h3,.cornerc h3{
    font-size: 30px;
    font-weight: 700;
    /* margin: auto; */
}
.cornercard>div h4,.cornerc h4{
    font-size: 25px;
}

.dealsimg>img,.shopnow>img,.firsttime>img
,.flashsale>img{
    margin: auto;
    padding-top: 40px;
}
.flashsale{
    margin-top: 30px;
}
.flashsale>h3,.winterwear>h3,.ethnicwear>h3,.toppics>h3{
    text-align: left;
    font-size: 25px;
    padding-top: 20px;
    font-weight: 600;
    margin-left: 9.5%;
}
.winterwear>div{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
    text-align: center;
    padding-top: 40px;
}
.winterwear>div>div>div{
    height: 150px;
    width: 150px;
    /* border: 1px solid rebeccapurple; */
    margin: auto;

}
.winterwear img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.winterwear p{
    margin-top: 10px;
}
.ethnicwear>div,.trendybottom>div{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
    padding-top: 40px;
}
.ethnicwear>div>div{
     height: 180px;
    /*width: 180px; */
    border: 2px solid rgb(194, 194, 51);
    background-size: 100%;
    display: flex;
    align-items: flex-end;
    border-radius: 15px;
}
.textdiv{
    background-color: black;
    opacity: 0.8;
    width: 80%;
    margin-left:10% ;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid rgb(194, 194, 51);
}
.textdiv>p:nth-child(1){
    color: white;
    font-size: 14px;
    /* opacity: 1.0; */
}

.textdiv>p:nth-child(2){
    color: rgb(194, 194, 51);
}
.toppics>div{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 40px;
}
.onlyimg{
    margin-top: 30px;
}
.onlyimg>img{
    margin: auto;
}

.trendybottom>div>div{
    height: 180px;
   background-size: 100%;
   display: flex;
   align-items: flex-end;
   border-radius: 15px;
   
}
.trendybottom>div>div:hover{
    opacity: 0.5;
}
.trendybottom p{
    color: rgb(194, 194, 51);
    margin: auto;
}