.cards{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.filters{
    width: 80%;
    margin: auto;
}
.filters>select{
    margin: 20px;
    border: 1px solid rgb(184, 178, 178);
    padding: 3px 10px;
    border-radius: 5px;
}
@media (max-width: 1100px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

}
@media (max-width: 900px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}
@media (max-width: 550px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

}